@keyframes left {
  0% { left: 100%; }
  100% { left: 0%; }
}
@keyframes up {
  0% { top: 100%; }
  100% { top: 0%; }
}
@keyframes right {
  0% { right: 100%; }
  100% { right: 0%; }
}
@keyframes down {
  0% { bottom: 100%; }
  100% { bottom: 0%; }
}
@keyframes just-spawned {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}
@keyframes combine {
  0% { transform: scale(0); }
  100% { transform: scale(1); }
}
.left {
  animation: left;
  animation-duration: 0.2s;
}
.up {
  animation: up;
  animation-duration: 0.2s;
}
.right {
  animation: right;
  animation-duration: 0.2s;
}
.down {
  animation: down;
  animation-duration: 0.2s;
}
.just-spawned {
  animation: just-spawned;
  animation-duration: 0.2s;
}
